/*
Theme Name: Spot Damn Theme
Theme URI: 
Author: Lola Alb
Author URI: http://lola-albrecht.com
Description: 
Tags : one-column
Version : 1.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wpcaweb
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
:root {
   
	--primary-color: #019B94;
    --primary-light-color:#C1E8BD;
	--secondary-color: #F4D166;
	--tertiary-color:#AB4C84;
    --gradient-warm:linear-gradient(45deg, #DA7D25, #F4D166);
    --gradient-cold:linear-gradient(-45deg, #C1E8BD, #019B94); 
    --gradient-three:linear-gradient(-45deg,#AB4C84, #3A2146);
    --text-color:#FFFFFF;
    --dark-color:#232323;
	--bg-color:#0d0f12;
    --hover-color:#0607088e;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
    background-color: var(--bg-color);
    color:var(--text-color);
    overflow-x: hidden;
    font-family: 'Roboto';
}

h1{
    font-family:'Bebas Neue';
    font-size:1.75em;
    margin-top:50px;
}
h2, .event-bloc h1{
    font-family:'Noto Sans Devanagari';    
    font-size:1.35em;
}

h2 a{
    color:var(--text-color);
    text-decoration: none;
}

.home-main h1{
    margin-left:5%;
}

.body-image{
    background-image: url('assets/images/fond-desktop-11.svg');
    background-repeat: repeat-y;
    background-size: cover;
}

main{
    margin:170px 12% 5% 12%;
    padding-left:20px;
    padding-right:20px;
    z-index:2;
    position:relative;
}

main:not(#event-template-main){
    background-color: var(--bg-color);
}

p{
    font-size:1em;
}


@media screen and (max-width:573px){
    .body-image{
        background-image: url('assets/images/fond-mobile-10.svg'); 
        background-size: contain;   
    }
}

/*Header*/
.header-bloc{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:150px;
    position:fixed;
    top: 0px;
    z-index:3;
    background-color: var(--bg-color);
    transition:height .6s ease;
}

.header-logo{
    width:100%;
    height:60px;
    margin:10px;
    padding-left:30px;
    padding-bottom: 15px;
    margin-bottom:15px;
    transition:all .6s ease;
}

.header-logo a img{
    width:10%;
    height:70%;
}

.header-logo p{
    margin:0;
}

nav {
    display:flex;
    position:relative;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
	width: 100%;
    height:70px;
    padding:10px;
    background-image: var(--gradient-cold);
}

	nav a {
		text-decoration: none;
        color:var(--text-color);
	}

    nav a:hover{
        color:var(--secondary-color);
    }

ul#menu-menu-principal {
	list-style-type: none;
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
	gap: 30px;
    transition: all .6s ease;
} 

.toggle-button{
    display:none;
}

/*Searchbar*/
.search-icon{
    width: 10%;
    text-align: right;
    align-self: center;
    padding-right:30px;
    cursor:pointer;
    z-index:5;
    transition: all .3s ease;
}

.search-icon i{
    font-size: 1.5em;
    color:var(--bg-color);
}

.icon-invisible{
    display:none;
    transition: all .3s ease;
}

.sidebar{
    width:0vw;
    right: -60px;
    position: absolute;
    display:flex;
    gap:20px;
    top: 0;
    padding: 0px 40px 10px 10px;
    background-color: var(--dark-color);
    height: 100vh;
    transition: all .3s ease;
}

.sidebar-visible{
    width:22%;
    right:0px;
    transition: all .3s ease;
}

.sidebar li{
    list-style-type: none;
    width:85%;
}

.display-search-result{
    max-width:80%;
}

.display-search-result li a{
    color:var(--secondary-color);
    text-decoration: underline;
}

.display-search-result li{
    margin-top:50px;
    position: relative;
    padding:15px;
}

.search-result-bloc{
    margin-bottom:200px;
}

.wp-block-search__button-outside {
    position: relative;
    top: 3%;
    border:none;
}

.wp-block-search__button-outside input{
    background-color: #353434;
    color:var(--text-color);
    border:none;
}

.wp-block-search__button-outside input + button{
    background-color: var(--primary-color);
    color:var(--text-color);
    border:none;
    z-index:5;
}


@media screen and (max-width:1024px) {
    .sidebar-visible{
        width:35%;
    }
    .header-logo a img{
        width:20%;
    }
}

/*Header mobile*/
@media screen and (max-width:768px) {
    .header-illu{
        display: none;
    }

    .search-icon{
        text-align: left;
        align-self: flex-end;
        margin-right:55px;
        position: relative;
        top: 15%;    }

    .search-icon i{
        font-size:2em;
      
    }

    .sidebar{
        left: -110px; 
        gap: 10px;
        background-color: transparent;
        height: 100%;
    }

    .sidebar-visible{
        width:90%;
        left:0;
    }

    .wp-block-search__button-outside {
        top: 30%;
    }
    
    nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-right:30px;
        background-color: var(--bg-color);
    }
    nav:after{
        content:'';
        width:0;
    }
    ul#menu-menu-principal{
		flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:0;
        padding:0;
        height:0vh;
        width:100vw;
        top:48px;
        left:0;
        position: absolute;
        background-color: var(--bg-color);
        transition:all .3s;
 	}

     ul#menu-menu-principal li:first-child{
        margin-top:100px;
     }

      .navbar-logo{
        align-self: flex-start;
        margin-bottom: 15px;
    }

    .header-logo a img{
        width:30%;
    }

    .menu-item{
		margin-bottom:20px;
		display:none;
	} 
    
    .visible{
        display:block;
        margin-top:40px;
        transition: display 1s ease;
    }

    #menu-item-27{
        display:block;
    }

	.toggle-button {
		display:flex;
		position: absolute;
		flex-direction: column;
		justify-content: space-between;
        align-self:flex-end;
        top:35%;
        right:3%;
        width: 50px;
		height: 35%;
        z-index:5;
 	}
    
	.toggle-button .bar {
		position: absolute;
        height: 4px;
		width: 100%;
		background-color: var(--bg-color);
		border-radius: 20px;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
		transition: transform .4s, opacity .6s, top .4s;
	}
    .bar:nth-child(1){
        top:0%;
    }
    .bar:nth-child(3){
        top:100%;
    }  

    .toggle-button.menu-open .bar:nth-child(1){
        transform:translate(-50%, -50%) rotate(-315deg);
        top:50%;
    }
    .toggle-button.menu-open .bar:nth-child(2){
        opacity:0;
    }
    .toggle-button.menu-open .bar:nth-child(3){
        transform:translate(-50%, -50%) rotate(-225deg);
        top:50%;
    }
    .toggle-button:hover span:nth-child(2) {
		width:60%;
		transition: width 0.5s ease;
	}
    
}

@media screen and (max-width:573px) {
    .sidebar-visible{
        width:80%;
    }

    .header-logo a img{
        width:40%;
    }
}

/*Footer*/
footer{
    margin-top:70px;
}

.footer-bloc{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height:150px;
}

.footer-logo a{
    text-align: center;
}

.footer-logo img{
    min-width: 100px;
}

.footer-image{
    position: absolute;
    width:15%;
}

.footer-menu ul{
    padding:0;
}

.footer-menu ul li {
    list-style-type: none;
}

.footer-menu ul li a{
    color:var(--text-color);
}

.footer-copyright{
    margin-bottom:30px;
}

@media screen and (max-width:768px){
    .footer-image{
        width:30%;
    }

    .footer-logo img{
        min-width: 70px;
    }
}
/*Bannière hero accueil*/
.hero{
    background-image: url('assets/images/bannerhero-09-09.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100vw;
    height:100vh;
    display:block;
    position: relative;
    top:100px;
    display: flex;
align-items: center;
justify-content: center;
}

.hero-inner{
    top:-50px;
    position:relative;
}

.hero-inner p{
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.74);
    font-weight: bold;
    font-size: 2em;
    text-align:center;
    font-family:'Bebas Neue';
}

/*Articles accueil*/
.article-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.article-bloc{
    padding:35px;
    position:relative;
}
.article-bloc:hover{
    background-color: var(--hover-color);
}

.article-infos-secondaires{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.article-text:not(.article-section article:first-of-type .article-text){
    max-width:300px;
}

.article-section article:first-of-type{
    display:flex;
    flex-direction: row;
    position: relative;
    width:100%;
    flex:100%;
    margin:20px 25px 100px 25px;
}

.article-section article:first-of-type .article-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width:300px;
    padding-left:15px;
}

.article-section article:first-of-type .article-title{
    margin-top:0;
}
.article-section article:first-of-type .post-thumbnail img{
    max-width: 450px;
    max-height: 350px;
    min-width: 430px;
    min-height: 330px;
    margin-right: 30px;
}

.article-section article:first-of-type .post-thumbnail a, #post-41 .post-thumbnail a{
    position: relative;
}

.article-section article:first-of-type .post-thumbnail a:before{
    content: url('assets/images/deco_3.svg');
    position: absolute;
    width:40%;
    height:40%;
    left: -24%;
    top: -25px;
}

@media screen and (max-width:1024px){
    .article-section article:first-of-type .post-thumbnail img{
    max-width: 330px;
    max-height: 280px;
    min-width: 200px;
    min-height: 150px;
    margin-right: 15px;
}
    .article-bloc{
        padding:5px;
    }

    main, .home-main{
        margin:170px 9% 5% 9%;
    }
}

@media screen and (max-width:768px){
    .article-section article:first-of-type{
        flex-direction: column;
        margin:20px 25px 50px 5px;
    }
    .article-section article:first-of-type .article-content{
        margin-top:25px;
    }

    .article-section article:first-of-type .post-thumbnail{
        align-self:center;
    }
    .article-bloc{
        margin-bottom:40px;
    }

    .article-section article:first-of-type .article-content{
        min-width:230px;
    }
}

@media screen and (max-width:573px){
    main, .home-main{
        margin:200px 9% 5% 9%;
    }
}

/*L'association*/
#post-8 .page-content{
    margin-bottom: 40px;
    position:relative;
}

#post-8 .page-content p:first-of-type{
    margin-bottom:50px;
}

.asso-chiffres-bloc{
    text-align: center;
    margin-bottom: 200px;
}

.asso-chiffres-bloc ul{
    padding:0;
    list-style-type: none;
    font-size:1.5em;
}

.asso-chiffres-bloc ul li:first-child{
    background-image: var(--gradient-cold);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.widget-event, .widget-concert, .widget-participants{
    font-size:2em;
}
.asso-template-main img{
    position:relative;
}

.asso-image img{
    box-shadow:10px 10px 20px rgba(0, 0, 0, 1);
    position:relative;
    opacity:.6;
}

@media screen and (max-width:768px){
    #post-8 figure{
        float:none;
        margin:auto;
    }

    #post-8 .page-content p:first-of-type{
        margin-top:50px;
    }

    .asso-chiffres-bloc ul {
        font-size: 1.2em;
      }
}

/*Contact*/
.contact-form-content{
    margin-top:70px;
}

label{
    font-weight: bold;
}

.wpcf7-form input, .wpcf7-form select, .wpcf7-form textarea{
    margin-top:10px;
    margin-bottom:10px;
    background-color: var(--dark-color);
    color:var(--text-color);
    border: none;
    height: 40px;
    width:80%;
    padding:10px;
}

.wpcf7-form input+span, .wpcf7-form select+span, .wpcf7-form textarea+span{
    margin-bottom:25px;
    color:var(--tertiary-color);
}

.wpcf7-form input:focus, .wpcf7-form select:focus, .wpcf7-form textarea:focus{
    background-color: var(--dark-color);
    border-bottom: 3px solid var(--primary-light-color);
    outline:none;
}

.wpcf7-form input:invalid, .wpcf7-form select:invalid, .wpcf7-form textarea:invalid{
    border-bottom:2px solid var(--tertiary-color);
}

.wpcf7-form textarea{
    resize:none;
    font-size:1.2em;
    height:40%;
}

input[type=submit]{
    max-width:130px;
    color:var(--text-color);
    background-color: var(--primary-color);  
    cursor:pointer; 
    margin-bottom:20px; 
}
input[type=submit]:hover{
    background-color: var(--dark-color);
}

input[type=submit]:focus{
    border: 2px solid var(--primary-color);
}

.wpcf7 form .wpcf7-response-output{
    border:none;
    border-color:var(--bg-color);
    color:var(--primary-light-color);
    font-weight: bold;
    padding: 0;
    margin-left: 0;
    margin-bottom:50px;
}

.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7 form.unaccepted .wpcf7-response-output, 
.wpcf7 form.payment-required .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output, 
.wpcf7 form.aborted .wpcf7-response-output{
    border:none;
    border-color:var(--bg-color);
    color:var(--tertiary-color);
    font-weight: bold;
    padding: 0;
    margin-left: 0;
    margin-bottom:50px;
}

@media screen and (max-width:768px){
    .wpcf7-form input, .wpcf7-form select, .wpcf7-form textarea{
        width:100%;
    }
}

/*Evénements*/
.event-list{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
}

.event-item{
    display:flex;
    background-color: white;
    color:black;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    position:relative;
}

.event-left{
    display: flex;
    gap: 15px;
    align-items: center;
}

.event-data{
    max-width:50%;
}

.to-come{
    margin-bottom:120px;
}

.is-over .event-item{
    background-color: rgb(204, 204, 204);
}

.event-left + p{
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 1.3em;
    padding-right: 20px;
    align-self: center;
    text-align: center;
}

.link-spanner, .link-span {
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    font-size:2em;
    font-weight:bold;
    color:transparent;
    z-index: 1;
  }

.link-spanner:hover {
    background-image: var(--gradient-cold);
    color:white;
    padding:15px;
    text-align: center;
  } 

  .link-span:hover {
    background-image: var(--gradient-three);
    opacity:.3;    
  } 

.pagination-event{
    text-align: center;
    margin-top: 30px;
}

.pagination-event a{
    color: white;
}

@media screen and (max-width:768px) {
    .event-item{
        flex-direction: column-reverse;
    }
    .event-left{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .event-data{
        max-width:80%;
    } 
}

/*Article single*/
.single-article-content .wp-block-image{
    margin-top:70px;
    max-width: 45%;
    align-self:center;
}

.single-article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.programmation-title {
    margin-bottom:0px;
}

programmation-title + ul{
    margin-top:0px;
}

@media screen and (max-width:768px){
    .single-article-content .wp-block-image{
        max-width:100%;
        margin-top: 40px;
    }
}